* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.imagen-adalab {
  width: 155px;
  margin-bottom: 10px;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 10px 0px 13px 0px;
  text-align: center;background-color: white;
}

.contacto {
  margin-left: 20px;
}

.menu a {
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none;
}


.container {
  background-color: #3cdbc0;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
}

@media all and (min-width: 768px) {
  .container-descrip {
    font-size: 40px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  .imagen-adalab {
    margin: 20px 0px 20px 30px;
    justify-content: center;
  }

  .contacto {
    margin-right: 30px;
  }
}
